div.main {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 380px;
}

div.line1 {
  width: 100%;
  height: 75px;
  background-color: #fbdca2;
}
div.line2 {
  width: 100%;
  height: 75px;
  background-color: #c57b41;
}
div.line3 {
  width: 100%;
  height: 75px;
  background-color: #fbdca2;
}
div.line4 {
  width: 100%;
  height: 75px;
  background-color: #c57b41;
}
div.line5 {
  width: 100%;
  height: 75px;
  background-color: #fbdca2;
}
div.line6 {
  width: 100%;
  height: 75px;
  background-color: #c57b41;
}
div.line7 {
  width: 100%;
  height: 75px;
  background-color: #fbdca2;
}
div.line8 {
  width: 100%;
  height: 75px;
  background-color: #c57b41;
}
