div.main {
  width: 600px;
  height: 600px;
  position: relative;
  left: 350px;
  top: 10px;
}

div.white {
  width: 75px;
  height: 75px;
  background-color: #fbdca2;
}

div.black {
  width: 75px;
  height: 75px;
  background-color: #c57b41;
}

div.line0 {
  position: absolute;
  left: -18px;
  top: 0px;
}

div.line1 {
  position: absolute;
  left: 0px;
  top: 0px;
}

div.line2 {
  position: absolute;
  left: 75px;
  top: 0px;
}

div.line3 {
  position: absolute;
  left: 150px;
  top: 0px;
}

div.line4 {
  position: absolute;
  left: 225px;
  top: 0px;
}

div.line5 {
  position: absolute;
  left: 300px;
  top: 0px;
}

div.line6 {
  position: absolute;
  left: 375px;
  top: 0px;
}

div.line7 {
  position: absolute;
  left: 450px;
  top: 0px;
}

div.line8 {
  position: absolute;
  left: 525px;
  top: 0px;
}

div.line9 {
  position: absolute;
  left: 600px;
  top: 0px;
}

div.line9 > div.herf:first-child,
div.line9 > div.herf:last-child {
  height: 18px;
  line-height: 20px;
}
div.line9 > div.herf {
  text-align: center;
  background-color: black;
  color: white;
  height: 75px;
  width: 18px;
  line-height: 75px;
}

div.line0 > div.herf:first-child,
div.line0 > div.herf:last-child {
  height: 18px;
  line-height: 20px;
}
div.line0 > div.herf {
  text-align: center;
  background-color: black;
  color: white;
  height: 75px;
  width: 18px;
  line-height: 75px;
}

div.herf {
  text-align: center;
  background-color: black;
  color: white;
}

div.reqemler {
  display: flex;
}

div.reqem1 {
  position: absolute;
  left: -75px;
  width: 18px;
  height: 75px;
  top: 35px;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
}

div.reqem2 {
  position: absolute;
  left: -75px;
  width: 18px;
  height: 75px;
  top: 120px;
  text-align: center;
  background-color: black;
  color: white;
}
